
.image-container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.Hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/marek-piwnicki-FrR0nSrJyyw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'monrope', sans-serif;
}

@media (max-width: 600px) {
    .Hero{
        flex-direction: column;
        height: fit-content;
        padding: 20px;
    }
    
    .image-container img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
}

@media (max-width: 900px) {
    .Hero{
        flex-direction: column;
    }
    
}