*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.navbar{
    position: fixed;
    top: 30px;
    left: 25%;
    padding: 1rem 10rem;
    background-color: #f1f112;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    z-index: 1000;
}

ul {
    display: flex;
    gap: 1rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #333;
    padding: 0 1rem;
}

ul li a:hover{
    color: #215794;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 100vh;
    background-image: url(images/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero{
    color: #fff;
    text-align: center;
    z-index: 1000;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.bground {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: absolute;
}

